@{
  Layout = "_Layout";
}

@using VOT.Models;

<h1>@Model.Name</h1>

@if (@Model.Orders.Count == 0)
{
  <h4>@Model.Name has no current orders</h4>
}

@foreach(Order order in @Model.Orders)
{
  <h4><a href="/vendor/@Model.Id/order/@order.Id">@order.Title</a></h4>
}

<a href="/vendor/@Model.Id/order/new">Add an Order</a>
<a href="/vendor">Back to Vendor List</a>

